.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5em;
  }
  
  .project {
    width: 45%;
    border-radius: 2rem;
  }
  
  .project img {
    width: 400px;
    height: 400px;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  @media (max-width: 767px) {
    .project {
      width: 100%;
    }
  }
  